@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cyan-color: #057BAD;
    --cyan-color-text: #08658C;
    --cyan-color-highlight: #DAF4FF;
    --cyan-color-half: rgba(5, 123, 173, 0.5);
    --background-color: #F6F7FB;
    --border-color: #E4E3E3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --border-radius: 12px;
    --secondary-border-radius: 6px;
    --layout-grid: 5vw;
    --secondary-layout-grid: 30px;
    --third-layout-grid: 20px;
    --cyan-gray-gradient: linear-gradient(to bottom, #4598BB 0%, #E4E3E3 100%) 1;
    --shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
    --filter-cyan: brightness(0) saturate(100%) invert(19%) sepia(61%) saturate(4087%) hue-rotate(182deg) brightness(90%) contrast(94%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.Area-Style {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
}


.Navbar-Group {
    background-color: var(--white-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding-inline: var(--layout-grid);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    z-index: 9;
}

.Logo {
    display: flex;
    align-items: normal;
    justify-content: center;
    width: fit-content;
    scale: 0.85;
    background-color: var(--white-color);
    transition: all 0.3s ease;
}

.Logo:hover {
    scale: 0.9;
    transition: all 0.3s;

}

.Logo-Group img,
.Logo img {
    height: fit-content;
    width: fit-content;
    transform-origin: center;
    transition: transform 2s ease-in-out;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.Logo-Group {
    display: flex;
    align-items: normal;
    justify-content: center;
    padding-right: 8px;
    height: 36.5px;
    overflow: hidden;
}

.Small-Gear {
    margin-left: -25px;
    z-index: 0;
}

.Big-Gear {
    z-index: 2;
}

.Gear-Cutout {
    z-index: 1;
    margin-left: -101px;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.swing-animation {
    animation: swing 4s ease-in-out forwards;
}

.Navbar-Items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 6px; */
    height: 100%;
    position: relative;
}

.Main-Button p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.Main-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    background-color: var(--cyan-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 1rem 1.5rem;
    opacity: 0.8;
    border-radius: 1000px;
    color: var(--white-color);
    transition: all 0.3s ease;
    cursor: pointer;
    gap: 0.5rem;
}

.Main-Button:hover {
    opacity: 1;
}

.Space-Area {
    margin-left: 50px;
}

.Item-Section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Item {
    padding-inline: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    backface-visibility: hidden;
}

.Item p {
    font-size: 14px;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
    unicode-bidi: isolate;
}



.Item img {
    transition: transform 0.3s;
}

.Error {
    width: 60%;
      mix-blend-mode: multiply;
}

.Error-Group {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar-Items .Item {
    position: relative;
    cursor: pointer;
}

.Item.active:hover .popup {

    /* border-image: var(--cyan-gray-gradient); */
    border-radius: var(--border-radius);

}

.popup:hover {
    border: 1px solid var(--cyan-color);
}

.popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: max-content;
    background-color: var(--white-color);

    top: 80%;

    /* width: 100%; */
    max-width: 250px;
    min-width: fit-content;


    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 10px;
    z-index: 1000;
    margin-top: 5px;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
}

.popup a {
    text-decoration: none;
}

.Item:hover {
    scale: 1.04;
    transition: all 0.3s ease;
    backface-visibility: hidden;

}

.Item.active .Navbar-Title,
.Item:hover .Navbar-Title,
.Item.active img,
.Item:hover img,
.Item:nth-child(7):hover p,
.Item:nth-child(6):hover p {
    filter: var(--filter-cyan);
}

.Sub-Item p {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
}

.Sub-Item {
    display: flex;
    padding: 0.8rem 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    height: 100%;
    width: 100%;
    border-radius: var(--secondary-border-radius);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Sub-Item:hover {
    background-color: var(--cyan-color);
    box-shadow: var(--shadow);

}

.Sub-Item:hover p {
    color: var(--white-color);
}

.Hamburger-Group {
    display: none;
    background-color: var(--background-color);
    padding: 5px 5px;
    border-radius: var(--secondary-border-radius);
    border: 1px solid var(--border-color);
}

.Hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 0.7;
    gap: 6px;
    z-index: 2000;
    /* outline: 1px solid var(--border-color); */
    /* padding: 7px; */
}

.Hamburger span {
    width: 100%;
    height: 3px;
    background: var(--black-color);
    border-radius: 5px;
    transition: 0.3s ease;
}

.Hamburger:hover span {
    background-color: var(--cyan-color);
    opacity: 1;
}

.Hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.Hamburger.active span:nth-child(2) {
    opacity: 0;
}

.Hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 1024px) {
    .Hamburger-Group {
        display: flex;
    }

    .Item:hover {
        scale: 1;
    }

    .Navbar-Group {
        height: 85px;
        padding-inline: 20px;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        transition: outline 0.8s ease;
    }

    .Hamburger {
        display: flex;
        scale: 0.8;
    }

    /* Hide menu by default */
    .Navbar-Items {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100dvh - 90px);
        background: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
        overflow-y: auto;
        padding-inline: 20px;
        transform: translateY(100%);
        transition: 0.35s ease;
        z-index: 1;
        border-top: 1px solid var(--border-color);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius) var(--border-radius) 0 0;

    }

    /* Active state for Sub-Item */
    .Sub-Item.active {
        background-color: var(--cyan-color);
        box-shadow: var(--shadow);
    }

    .Sub-Item.active p {
        color: var(--white-color);
    }

    /* Also keep your original hover styles */
    .Sub-Item:hover {
        background-color: var(--cyan-color);
        box-shadow: var(--shadow);
    }

    .Sub-Item:hover p {
        color: var(--white-color);
    }

    .Item.active .Navbar-Title {
        color: var(--cyan-color);
    }

    .Item-Section {
        scale: 1.1;
    }

    /* When opened */
    .Navbar-Items.active {
        transform: translateY(0);
    }

    .Item.open.active {
        padding: 30px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        width: 100%;
    }

    .Item {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--border-color);
        flex-direction: column;
        align-items: start;
    }

    .Item img {
        transform: rotate(0deg);
        transition: 0.25s ease;
    }

    .Item.open img {
        transform: rotate(180deg);
    }

    .popup {
        position: static;
        display: none;
        width: 100%;
        background: none;
        box-shadow: none;
        border: none;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0;
        padding: 0;
        margin-top: 40px;
        gap: 0;
        transform: none;
        /* height: 100%; */
        scale: 1.1;

    }

    .Item.open .popup {
        display: flex;
        width: 100%;
    }

    .Sub-Item {
        width: 100%;
        border-radius: 0;
        border: none;
        justify-content: left;

        padding: 20px 10px;
        /* margin-top: 20px; */
        background-color: transparent;
        border-bottom: 1px solid var(--border-color);
        height: 100%;
    }

    .Main-Button {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        padding: 1rem;
    }

    .Space-Area {
        margin-left: 0 !important;
    }
}

.Header-Group {
    padding-inline: var(--secondary-layout-grid);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62dvh;
    gap: 30px;
    margin-top: calc(90px + var(--secondary-layout-grid));
}

.Header-Image {
    height: 100%;
    width: 100%;
    min-width: 600px;
    overflow: hidden;
    position: relative;
}

.Header-Image-Section-Group {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4rem;
    margin-top: -0.5rem;
}


.Header-Image-Fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--cyan-color) 20%, transparent 50%);
    opacity: 0.6;
    pointer-events: none;
    z-index: 1 !important;
}


.Header-Media {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Header-Sections {
    height: 100%;
    width: 100%;
    max-width: 517px;
}

.Header-Section-Item {
    height: calc(100% / 4);
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-Section-Item-Image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: red; */
    width: 150px;
    flex-shrink: 0;
}

.Header-Section-Item-Text {
    /* display: none; */
    width: 100%;
    padding: 10px 40px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;

}

.Header-Section-Item-Text-Title {
    /* display: none; */
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.Header-Section-Item-Text-Description {
    /* display: none; */
    font-size: 12px;
    font-weight: 500;
    text-align: justify;

    opacity: 0.7;
}

.hr-Line {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
}

.hr-Line-Bold {
    height: 2px;
    width: 100%;
    background-color: var(--border-color);
}

.Header-Socials {
    height: 100%;
    width: 50px;
    padding: 40px 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Header-Socials-Item {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.Header-Socials-Item:hover {
    scale: 1.2;
    transition: all 0.3s ease;
    border: 1px solid var(--cyan-color);
}



.Navigation-Button-Left,
.Navigation-Button-Right {
    position: relative;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: 2px solid var(--white-color);
    border-radius: 100px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    opacity: 0.7;
}

.Navigation-Button-Left:hover,
.Navigation-Button-Right:hover {
    opacity: 1;
    scale: 1.1;
    transition: all 0.3s ease;
}

.Navigation-Button-Left img,
.Navigation-Button-Right img {
    width: 30px;
    height: 30px;
    pointer-events: none;
    filter: drop-shadow(var(--shadow));
}

.Header-Image-Navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    height: fit-content;

}

.Header-Title {
    font-size: 36px;
    font-weight: bold;
    color: var(--white-color);
    width: 28rem;
    margin-top: 10px;
    filter: drop-shadow(var(--shadow));
}

.Header-Description {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    filter: drop-shadow(var(--shadow));
}

.Secondary-Button:hover {
    background-color: var(--white-color);
    scale: 1.1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Secondary-Button:hover p {
    color: var(--cyan-color);
    text-decoration: none;
}

.Secondary-Button:hover img {
    filter: var(--filter-cyan);
}

.Secondary-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--white-color);
    border-radius: 100px;
    padding: 1rem 2.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: -1rem;
}

.Secondary-Button p {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none !important;
    filter: drop-shadow(var(--shadow));
}

.Section-Elements-Navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    /* background-color: red; */
}

.Text-Title {
    position: relative;
    width: 100%;
}

.Text-Title a {
    position: absolute;
    right: 40px;
    bottom: 0;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    padding-inline: var(--layout-grid);
    color: var(--cyan-color);
}

.Section-Group .Text-Title {
    font-size: 32px;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
}

.Third-Banner-Group .Text-Title {
    font-size: 32px;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
}

.Fourth-Banner-Group .Text-Title {
    font-size: 32px;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
}

.Section-Group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
    margin-top: 40px;
    overflow: hidden;
}

.Section-Elements-Navigation {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Section-Elements-Navigation img {
    border-radius: 100px;
    transition: all 0.3s ease;
}

.Section-Elements-Navigation img:hover {
    scale: 1.15;
    transition: all 0.3s ease;
}

.Section-Slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 285px;
}

.Section-Elements {


    padding: 15px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transition: transform 0.3s ease;
}

.Section-Slider-News {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;

    padding: 30px;
}

.Section-Elements {
    display: none;
}

/* Show first 6 items by default */
.Section-Elements:nth-child(2),
.Section-Elements:nth-child(3),
.Section-Elements:nth-child(4),
.Section-Elements:nth-child(5),
.Section-Elements:nth-child(6),
.Section-Elements:nth-child(7) {
    display: flex;
}

.Section-Elements-Item {
    /* padding: 25px 20px 20px 30px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    text-align: left;
    transition: all 0.3s ease;
    height: 100%;
}

.Section-Slider-News {

    width: 100%;
}

.Section-Elements-Item p:nth-child(2),
.Section-Elements-Item-News p:nth-child(2) {
    padding: 0 20px 0 30px;

}

.Section-Elements-Item p:nth-child(3),
.Section-Elements-Item-News p:nth-child(3) {
    padding: 0 20px 0px 30px;

}

.Section-Elements-Item p:nth-child(4),
.Section-Elements-Item-News p:nth-child(4) {
    padding: 0 20px 20px 30px;

}

.Section-Elements-Item img,
.Section-Elements-Item-News img {
    padding: 25px 0 0 30px;
    flex-shrink: 0;
}

.News-Button p {

    font-size: 16px;
    font-weight: 500;
    color: var(--cyan-color);
}

.News-Button {
    border: 2px solid var(--cyan-color-half);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--secondary-border-radius);
    text-decoration: none;
    height: 100%;


}

.News-Button:hover {
    background-color: var(--cyan-color);
    color: var(--white-color);
    border-radius: var(--secondary-border-radius);
    cursor: pointer;
}

.News-Button:hover p {
    color: var(--white-color);
}

.News-Button-Group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    padding: 0 10px 10px 10px;
    margin-top: 10px;

}

.Section-Elements-Item-News img {
    width: 100%;
    padding: 0;
    border-radius: var(--border-radius) var(--border-radius)0 0;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    height: 12rem;
    object-fit: cover;
}

.Section-Elements-Item:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}

.Section-Elements-Navigation img {
    filter: drop-shadow(--shadow);
}

.Section-Elements-Item p:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    color: var(--cyan-color);
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    word-break: break-word;
}

.Section-Elements-Item p:nth-child(3) {
    font-size: 12px;
    font-weight: 500;
    color: var(--black-color);
    opacity: 0.7;
    display: flex;
    align-items: center;
    width: 100%;
}

.Section-Elements-Item-News p:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: var(--cyan-color);
    margin: 5px 0;

    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    word-break: break-word;


}

.Section-Elements-Item-News p:nth-child(4),
.Section-Elements-Item-News p:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    color: var(--black-color);
    opacity: 0.7;
    display: flex;
    align-items: center;
    width: 100%;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .Section-Elements {
        flex: 1;
    }
}

@media (max-width: 992px) {
    .Section-Elements {
        flex: 1;
        height: 260px;
    }
}

@media (max-width: 768px) {
    .Section-Elements {
        flex: 1;
        height: 250px;
        padding: 15px;
    }

    .Navbar-Items {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100dvh - 60px);
        background: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
        overflow-y: auto;
        padding-inline: 20px;
        transform: translateY(100%);
        transition: 0.35s ease;
        z-index: 1;
        border-top: 1px solid var(--border-color);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius) var(--border-radius) 0 0;

    }
}

@media (max-width: 576px) {
    .Section-Elements {
        flex: 1;
        height: 300px;
    }

    .Section-Elements-Navigation {
        width: 50px;
        height: 50px;
    }

    .Header-Image-Section-Group {
        position: absolute;
        top: 50%;
        left: 9vw;
        transform: translateY(-50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 4rem;
        margin-top: -0.5rem;
    }
}






@media (min-width: 1024px) and (max-width: 1200px) {
    .Item {
        padding-inline: 10px !important;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        backface-visibility: hidden;
    }
}


@media (min-width: 1100px) and (max-width: 1180px) {
    .Header-Socials {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1323px) {
    .Navbar-Group {
        background-color: var(--white-color);
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        padding-inline: 20px;
        box-shadow: var(--shadow);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        z-index: 9;
    }

    .Space-Area {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .Header-Section-Item {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: left;

    }

    .Header-Sections {
        height: fit-content !important;
    }

    .Header-Section-Item-Image {
        width: 110px;
        height: 120px;
        padding-top: 10px;
    }

    .Header-Section-Item-Image img {
        scale: 1.1;
    }

    .Header-Section-Item-Text {
        padding: 0px 30px 30px 30px;
    }

    .Header-Socials {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 !important;
        margin-bottom: 20px;

    }

    .Header-Socials-Item {
        scale: 1 !important;
    }

    .Header-Title {
        font-size: 28px;
        width: 20rem;
    }

    .Header-Image {
        min-width: 100% !important;
        height: calc(85dvh - 85px - 40px) !important;
    }

    .Section-Group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 80px 30px 50px 20px;
        margin-top: 0px;
        overflow: hidden;
    }

    .Section-Elements-Item p:nth-child(2) {
        font-size: 20px;
    }

    .Section-Elements-Item p:nth-child(3) {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .Header-Group {
        padding-inline: var(--third-layout-grid);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: calc(85px + var(--third-layout-grid))
    }

    .Header-Group {
        height: fit-content;
    }

    .Header-Sections {
        height: 600px;
        max-height: 100%;
        ;
    }

    /* .Header-Group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 30px;
}

.Header-Image {
    grid-column: 1 / -1;
    grid-row: 1;
}

.Header-Sections {
    grid-column: 1;
    grid-row: 2;
}

.Header-Socials {
    grid-column: 2;
    grid-row: 2;
} */

    .Header-Sections {
        width: 100%;
        min-width: 100%
    }

    .Header-Image {
        min-width: 100% !important;
        height: 60dvh;
    }

    .Header-Socials {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 40px;
    }

    .Header-Section-Item-Text .Header-Section-Item-Text-Title {
        font-size: 20px;

    }

    .Header-Section-Item-Text .Header-Section-Item-Text-Description {
        font-size: 16px;
    }

    .Header-Socials-Item {
        scale: 1.1;
    }



}

/* 
@media (min-width: 1024px) {
        .Navbar-Group {
    padding-inline: 8.8vw !important;
    }
} */

.Section-Group-Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* padding: -40px; */
    /* margin-top: 40px; */
    overflow: hidden;
}

.Section-Group-Title-Group {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16vw;
    white-space: nowrap;
}

.Image-Main {

    max-width: 1440px;
}

.Image-Main img {
    display: block;
    max-width: 100%;
    height: auto;
}




/* .Image-Main img {
    width: 100%;
    height: 100%;
} */

.Section-Group-Title p:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
}

.Section-Group-Title p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    color: var(--cyan-color);
    margin-top: 0.8rem;
}

.Section-Group-Title-Info {
    display: flex;
    align-items: center;
    gap: 60px;
}

.Section-Group-Title-Info-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    gap: 5px;
    margin: 40px 0;
}

.Section-Group-Title-Info-item p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
    margin: 0;

}

.Section-Group-Title-Info-item p:nth-child(2) {
    font-size: 36px;
    font-weight: 500;
    color: var(--cyan-color);
    margin: 0;

}

.Section-Group-Title {
    width: 30rem;
}

.Social-Item-Text-Group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: fit-content;

}

.Social-Item-Text-Group p:nth-child(1),
.Social-Item-Text-Group p:nth-child(2) {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--black-color) !important;
}

.Social-Item {
    display: flex;
    align-items: center;
}

.Social-Item-Group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-top: 40px;
}

.Section-Group-Title .Map-Responsive {
    padding-right: 40px;
    width: 100%;
}

.Image-Main {
    display: none;
}


@media (max-width: 1024px) {
    .Image-Main {
        display: none;
    }

    .Section-Group-Title-Group {
        padding: 0;
        width: 100%;
    }

    .Map-Responsive {
        padding: 0;
        width: 100%;
        margin-top: -7rem;
    }

    .Section-Group-Flex {
        padding-bottom: 2rem;
    }


    .Section-Group-Title-Group {

        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        /* padding-right: 16vw; */
        white-space: nowrap;

    }

    .Section-Group-Title-Group {
        padding: 0;
    }

    .Section-Group-Title {
        /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
        scale: 1.1;
        padding-left: 4rem;
        /* margin-top: -10rem;
padding-bottom: 5rem; */
    }

    /* .Section-Group-Title-Group {
    margin-top: -10rem;
} */
}

@media (max-width: 768px) {
    .Section-Group-Title {
        /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
        scale: 0.9;
        padding-left: 1rem;
        /* margin-top: -10rem;
padding-bottom: 5rem; */
    }


    .Social-Item-Text-Group p:nth-child(1),
    .Social-Item-Text-Group p:nth-child(2) {


        width: 19rem;
        white-space: normal;
    }

    .Section-Group-Title {
        /* width: 30rem; */
        width: 100%;
    }

    .Map-Responsive {
        padding: 0;
        width: 100%;
        /* margin-bottom: -7rem; */
        margin: 0;
    }


    .Header-Section-Item-Text .Header-Section-Item-Text-Description {
        font-size: 14px;
    }
}

.Banner-Text {
    position: relative;
    /* position: absolute; */
    /* top: 50%; */
    left: 5vw;
    /* transform: translateY(-50%); */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4rem;
    /* margin-top: -0.5rem; */

}

.Banner-Group {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;

    height: fit-content;
    position: relative;
    padding: 150px 0 120px 0;
    background-image: url(./assets/images/header/6.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-left: 1rem;
}

.Secondary-Banner-Group {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 120px 0 120px 0;
    background-image: url(./assets/svg/banner.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.Footer-Banner-Group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 120px 0 50px 0;
    background-image: url(./assets/svg/footer.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    height: 100%;
}

.Third-Banner-Group {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 120px 0 120px 0;
    background-image: url(./assets/svg/banner-1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    height: fit-content;
    justify-content: center;
}

.Fourth-Banner-Group {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 120px 0 120px 0;
    background-image: url(./assets/svg/banner-2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    height: fit-content;
    background-color: red;
    height: 50rem;
    justify-content: center;
}

.Banner-Group .Header-Description {
    font-size: 16px;
    width: 25rem;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .Banner-Group .Header-Title {
        font-size: 28px;
        width: fit-content;
    }

    .Banner-Group .Header-Description {

        width: 20rem;
    }
}

.News-Group-Section .Section-Elements-Item-News:hover {
    scale: 1.07;
    transition: all 0.3s ease;
}


.News-Group-Section .Section-Elements-Item-News {
    transition: all 0.3s ease;
}

.News-Group-Section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 30px;
    transition: all 0.3s ease;
    margin-bottom: 2rem;

}


@media (max-width: 1280px) {
    .News-Group-Section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    .News-Group-Section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .News-Group-Section {
        grid-template-columns: repeat(2, 1fr);
    }

    .faq-question {
        padding: 20px 25px;
        font-weight: 600;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--cyan-color);
        display: flex;
        gap: 0px !important;
    }
}

@media (max-width: 650px) {
    .News-Group-Section {
        grid-template-columns: 1fr;
    }
}



.Section-Elements-Item-News p:nth-child(2) {
    margin: 12px 0 0px 0;
}



.Banner-Item-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Banner-Item-Section p:nth-child(2) {
    font-size: 42px;
    font-weight: 500;
    color: var(--white-color);
    margin: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Banner-Item-Section p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    margin: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 22rem;
    margin-bottom: 2rem;

}

.Secondary-Banner-Text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    width: 100%;
    padding-inline: 20px;
}

.Third-Banner-Text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    justify-content: center;
    width: 100%;
    padding-inline: 20px;
}

























.faq-container {
    width: 100%;
    max-width: 900px;
    /* height: 20rem; */
    padding-inline: 40px;
}

.faq-container {
    max-width: 900px;
    margin: 0 auto;
}

.faq-item {
    transition: all 0.3s ease;
    margin-bottom: 20px;
    overflow: hidden;

}

.faq-item:hover {
    scale: 1.05;
    border: 1px solid var(--cyan-color);
    transition: all 0.3s ease;
}

.faq-question {
    padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    color: var(--cyan-color);
    display: flex;
    gap: 40px;
}

.faq-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
}

.faq-answer {
    padding: 0 20px;
    display: none;
    padding-bottom: 25px;
    color: var(--black-color);
}




.Third-Button:hover {
    background-color: var(--cyan-color);
    scale: 1.1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Third-Button:hover p {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
}

.Third-Button:hover img {
    filter: none;
}

.Third-Button img {
    filter: var(--filter-cyan);
}

.Third-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cyan-color);
    border-radius: 100px;
    padding: 1rem 2.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: -1rem;

}

.Third-Button p {
    font-size: 16px;
    font-weight: 600;
    color: var(--cyan-color);
    text-decoration: none !important;
    filter: drop-shadow(var(--shadow));
}




.Footer-item-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: fit-content;
}

.Footer-item-social .Header-Socials-Item {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.Footer-item-social .Header-Socials-Item:hover {
    scale: 1.3;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Footer-item-social .Header-Socials-Item img {
    scale: 0.9;
}

.Footer-Item p {
    color: var(--white-color);
    font-size: 12px;
    font-weight: 500;
    text-align: justify;
    width: 17rem;
    font-weight: 400;

}

.Footer-Item img {
    width: 180px;
}

.Footer-Item {
    display: flex;
    flex-direction: column;


    width: fit-content;
    gap: 10px;
    line-height: 24px;
    width: fit-content;
}

.Footer-Item-Section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-inline: var(--layout-grid);
    gap: 20px;
}

.Header {
    font-size: 16px !important;

    width: fit-content !important;
    color: var(--white-color);
    font-weight: bold !important;
    text-decoration: none !important;
}

.Footer-Item a {
    font-size: 14px;
    color: var(--white-color);
    font-weight: 400;
    transition: all 0.3s ease;
    text-decoration: none;
    width: 12rem;
}

.Footer-Item a:hover {
    scale: 1.02;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: underline;
}


.Item-Group-Social-Footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Item-Group-Social-Footer img {
    width: 20px;
}

.Group-Text-Item {
    display: flex;
    flex-direction: column;

}

.Info-Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Info-Group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-inline: var(--layout-grid);
}

.Info-Footer a {

    color: var(--white-color);
    text-decoration: none;
}

.Info-Group p {

    color: var(--white-color);
    text-decoration: none;
}













.Panel-Section-Group {
    display: flex;
    position: relative;
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    /* height: 100dvh; */
    margin-top: 90px;
    padding: 60px calc(var(--layout-grid) + 20px);
    /* background-color: red; */
    /* width: 1400px; */
    height: fit-content !important;
}


.Sidepanel-Section-Sticky {
    position: sticky;
    left: 0;
    top: calc(90px + 60px);
}

.Sidepanel-Section a {
    border-bottom: 1px solid var(--border-color);
    /*  border-right: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color); */
    /* outline: 1px solid var(--border-color); */
}

.Sidepanel-Section {
    display: flex;
    /* position: fixed; */
    flex-direction: column;
    /* background-color: blue; */
    /* width: fit-content; */
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    height: fit-content;


}

.Sidepanel-Section:hover .Sidepanel-Section-Item:last-child {
    border-radius: 0 0 0 var(--secondary-border-radius);
}

.Sidepanel-Section:hover .Sidepanel-Section-Item:first-child {
    border-radius: var(--secondary-border-radius) 0 0 0;
}

.Sidepanel-Section-Item {
    display: flex;
    align-items: center;
    height: 56px;
    max-width: 400px;
    width: 100%;
    border-left: 7px solid var(--border-color);
    padding-left: 40px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}

.Sidepanel-Section-Item p {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
}

.Sidepanel-Info {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* width: 1280px; */
    width: 100%;
    /* padding-inline: var(--layout-grid); */
    padding: 0 var(--layout-grid) 0 calc(var(--layout-grid) - 20px);
}

.Sidepanel-Section:hover {
    overflow: visible;
}

.Sidepanel-Section-Item:hover {
    scale: 1.05;
    border-radius: var(--secondary-border-radius) !important;
    -webkit-border-radius: var(--secondary-border-radius);
    -moz-border-radius: var(--secondary-border-radius);
    -ms-border-radius: var(--secondary-border-radius);
    -o-border-radius: var(--secondary-border-radius);
    border: none;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.Sidepanel-Section-Item:hover p {
    color: var(--cyan-color);
}

.Info-Text {
    line-height: 24px;
    font-weight: 500;
    text-align: justify;
    font-size: 15px;
}


.Info-Text-Group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Info-Head {
    font-size: 24px;
    font-weight: 800;
    color: var(--cyan-color-text);
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .Panel-Section-Group {
        display: flex;
        flex-direction: column;
    }

    .Sidepanel-Section {
        margin-bottom: 40px;
        width: 100%;
        max-width: 100%;
    }

    .Sidepanel-Section-Sticky {
        position: static;

    }



    .Sidepanel-Info {
        width: 100%;
        padding-inline: calc(var(--layout-grid) - 40px);

    }

    .Panel-Section-Group {
        margin-top: 80px;
    }


    .Panel-Section-Group {
        display: flex;
        flex-direction: column;
        padding: 30px calc(var(--secondary-layout-grid));
    }

    .Sidepanel-Section-Item {
        max-width: 100%;
    }

    .Info-Bar-Group {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 30px;
    }

    .Info-Bar-Group-Third {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 30px;
    }

    .Section-Bar-Item {
        display: flex;
        flex-direction: column;
        align-items: baseline !important;
        gap: 20px;
        width: 100%;
        padding: 30px 25px 25px 25px !important;
        /* max-height: 800px; */
        /* height: 100%; */
    }

    .Section-Bar-Item img {
        padding-inline: 0px !important;
    }

    .Info-List-Group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* height: 100dvh; */
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .Panel-Section-Group {
        display: flex;
        flex-direction: column;
        padding: 30px calc(var(--secondary-layout-grid));
    }

    .Sidepanel-Section {
        margin-bottom: 40px;
        width: 100%;
        max-width: 100%;
    }

    .Sidepanel-Section-Sticky {
        position: static;

    }

    .Sidepanel-Info {
        width: 100%;
        /* padding-inline: var(--layout-grid); */

    }

    .Sidepanel-Section-Item {
        max-width: 100%;
    }

    .Section-Bar-Item {
        display: flex;
        flex-direction: column;
        align-items: baseline !important;
        gap: 20px;
        width: 100%;
        padding: 30px 25px 25px 25px !important;
        /* max-height: 800px; */
        /* height: 100%; */
    }

    .Section-Bar-Item img {
        padding-inline: 0px !important;
    }

    
    .Info-Bar-Group-Third {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 30px;
    }


}






.Sidepanel-Section-Item-Active {
    background-color: var(--cyan-color-highlight) !important;
    border-left: 7px solid var(--cyan-color) !important;
}


.Sidepanel-Section-Item-Active p {
    color: var(--cyan-color-text);
}

.Info-Image-Section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
}

.Info-Image-Section {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 350px;

    margin-top: 10px
}

.Info-Image-List-Section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 10px;
}

.Info-Image-List-Section img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
    height: 300px;

}

.Info-List-Group {
    display: flex;
    gap: 20px;
    /* height: 100dvh; */
}


.Info-List-Section {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
    /* margin-top: 10px; */

}

.Info-List-Section ul li {
    font-size: 16px;
    font-weight: 600;
    transform-origin: left center;
    cursor: default;
    transition: all 0.3s ease;
}


.Info-List-Section ul li:hover {
    transform: scale(1.5);
    transition: all 0.3s ease;

}

.Info-List-Section ul li::marker {
    font-size: 1.2em;
    /* try 0.6em–0.8em */
    color: var(--cyan-color);
}

.Info-List-Section ul {

    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    height: fit-content;
    margin-left: 1.5rem;
}

.Info-Headline {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--cyan-color);
    font-weight: 600;
}

ul li::marker {
    font-size: 0.7em;
    /* try 0.6em–0.8em */
}

.Info-ul {
    margin-left: 20px;
}

.Info-ol {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
}

.Info-ol li {
    /* margin-left: -30px; */
}


.Section-Bar-Item img {
    padding-inline: 20px;
}

.Section-Bar-Item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 25px 40px 25px 20px;
    /* max-height: 800px; */
    /* height: 100%; */

}

.Section-Bar-Item-Third {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    width: 100%;
    padding: 25px 25px 25px 25px;
    /* max-height: 800px; */
    text-decoration: none;
    /* height: 100%; */
    transition: all 0.3s ease;

}

.Section-Bar-Item-Third:hover {
    scale: 1.05;
    transition: all 0.3s ease;
    border: 1px solid var(--cyan-color);
}

.Navigation-Link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: all 0.3s ease;
}

.Navigation-Link:hover {
    scale: 1.3;
    transition: all 0.3s ease;
}

.Navigation-Link:hover img {
    scale: 1.05;
    transition: all 0.3s ease;
    filter: var(--filter-cyan);
}


.Section-Bar-Item-Third p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
    margin: 0;
    margin-bottom: 5px;
}

.Section-Bar-Item-Third p:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
    opacity: 0.8;
    margin: 0;
    text-align: justify;
}


.Section-Bar-Item p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
    margin: 0;
    margin-bottom: 5px;
}

.Section-Bar-Item p:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
    opacity: 0.8;
    margin: 0;
    text-align: justify;
}

.Info-Bar-Group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.Info-Bar-Group-Third {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

















.horizontal-slider {
    position: relative;
    display: inline-flex;
    gap: 10px;

    margin-bottom: 30px;
    padding-bottom: 6px;
    overflow-x: auto;
    scrollbar-width: none;
}

.horizontal-slider::-webkit-scrollbar {
    display: none;
}

.horizontal-slider a {
    position: relative;
    text-decoration: none;
    color: var(--black-color);
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap;
    font-weight: 600;
    opacity: 0.8;
    flex-shrink: 0;
}

.horizontal-slider a:hover {
    color: var(--cyan-color-text);
    opacity: 1;
}

.horizontal-slider a.active {
    color: var(--cyan-color-text);
    font-weight: 600;
    opacity: 1;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: var(--cyan-color);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100px;
    opacity: 0.8;
    z-index: 2;
}

.underline-gap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--border-color);
    border-radius: 100px;
    opacity: 0.6;
    z-index: 1;
}



.content-section.active {
    display: block;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 768px) {


    .horizontal-slider {
        gap: 5px;
        display: flex;

    }

    .horizontal-slider a {
        padding: 10px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .horizontal-slider a {
        padding: 8px;
        font-size: 12px;
    }
}